body {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../img/background.jpg);   
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

html, body {
    height: 50%;
    width: 100%;
}

h5 {
    color: #fff;
}

.blog {
    background-color: #fff;
    border-radius: 20px;
    margin-bottom: 10px;
}

th{
    color: #fff;
}

.anime {
    color: rgba(46, 196, 255, 0.616);
    letter-spacing: 0.1rem;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 600;
}

.paragraph {
    border-left: 5px solid;
    padding-left: 5px;
}

h6{
    color: #fff;
}

h2 {
    font-size: 2.0rem;
    color: #fff;
}

p {
    color: #000;
    letter-spacing: 0.1rem;
    font-weight: 600;
    text-transform: uppercase;
}

form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    padding: 20px;
}

form h2 {
    color: #000;
}

.form-control {
    margin-right: 400px;
}

  .signup_link{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: #666666;
  }
  .signup_link a{
    color: #2691d9;
    text-decoration: none;
  }
  .signup_link a:hover{
    text-decoration: underline;
  }