@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

body {
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url("img/bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 80%;
    border: 10px solid #000;
    height: 20px solid #fff;
    padding: 20px;
    margin: 20px auto;
    max-width: 700px;
}

.blog {
    margin-bottom: 20px;
}

.anime {
    color: rgba(46, 196, 255, 0.616);
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    font-weight: 600;
}

.paragraph {
    border-left: 5px solid;
    padding-left: 5px;
}

h2 {
    font-size: 2.0rem;
    color: #fff;
}

h1 {
    font-size: 2.0rem;
    color: rgba(255, 224, 46, 0.616);
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

p {
    color: rgb(23, 210, 235);
    font-weight: 600;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
}