<script id="home" type="text/template">
  <header class="p-3 bg-dark text-white">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="./assets/img/logo.svg" alt="Logo" />
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 text-white">Home</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Blogs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">About</a></li>
          <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
          <li><a href="#" class="nav-link px-2 text-white">Contact</a></li>
        </ul>

        <div class="text-end">
          <!-- <button type="button" class="btn btn-outline-light me-2">Login</button> -->
          <!-- Button trigger modal -->
          <button type="button" id="modal" class="btn btn-outline-light me-2" data-bs-toggle="modal" data-bs-target="#profile">
            View Profile
          </button>
          <button type="button" id="logout" class="btn btn-warning">Logout</button>
          <a href="#/signUp"><button type="button" id="signup" class="btn btn-outline-light me-2">
            Sign Up
          </button></a>
          <a href="#/login"><button type="button" id="login" class="btn btn-warning">Login</button></a>
        </div>
      </div>
    </div>
  </header>
  <main>
    <section>
      <div class="container col-xxl-8 px-4 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="./assets/img/hero-img.svg" class="d-block mx-lg-auto img-fluid" alt="Hero Image" width="700" height="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Welcome to my Blog Site</h1>
            <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Optio, eum?</p>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start">
              <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">See More</button>
              <!-- <button type="button" class="btn btn-outline-secondary btn-lg px-4">Default</button> -->
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <!-- Modal -->
      <div class="modal fade" id="profile" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">User Profile</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <!-- update user form -->
              <form id="updateForm">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="fullName"
                    placeholder="Full Name"
                  />
                  <label for="fullName">Full Name</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="userName"
                    placeholder="Username"
                    readonly
                  />
                  <label for="userName">Username</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="email"
                    class="form-control"
                    id="email"
                    placeholder="Email Address"
                    readonly
                  />
                  <label for="email">Email Address</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="address"
                    placeholder="Address"
                  />
                  <label for="address">Address</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="date"
                    class="form-control"
                    id="bDay"
                    placeholder="Birthday"
                  />
                  <label for="bDay">Birthday</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="tel"
                    class="form-control"
                    id="contact"
                    placeholder="Contact"
                  />
                  <label for="contact">Contact No.</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    placeholder="Password"
                  />
                  <label for="password">Password</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="password"
                    class="form-control"
                    id="confirmPassword"
                    placeholder="Confirm Password"
                  />
                  <label for="confirmPassword">Confirm Password</label>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-warning">Save changes</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</script>

<!-- login page -->
<script id="login" type="text/template">
  <style>
    .login {
      min-height: 100vh;
    }

    .bg-image {
      background-image: url("./assets/img/login.jpg");
      background-size: cover;
      background-position: center;
    }
  </style>
  <div class="container-fluid ps-md-0">
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="mb-4 display-3">Login</h3>
                <p class="fs-5 mb-4">
                  Don't have an account?
                  <span><a href="#/signUp">Click Here</a></span>
                </p>
                <!-- Sign In Form -->
                <form id="loginForm">
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="loginUserName"
                      placeholder="Username"
                    />
                    <label for="userName">Username</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="password"
                      class="form-control"
                      id="loginPassword"
                      placeholder="Password"
                    />
                    <label for="password">Password</label>
                  </div>
                  <div class="form-check mb-3">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      value=""
                      id="rememberPasswordCheck"
                    />
                    <label
                      class="form-check-label"
                      for="rememberPasswordCheck"
                    >
                      Remember password
                    </label>
                  </div>
                  <div class="d-grid">
                    <button
                      id="loginBtn"
                      class="btn btn-lg btn-primary mb-2"
                      type="submit"
                    >
                      Login
                    </button>
                    <div class="text-center">
                      <a class="small" href="#">Forgot password?</a>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</script>

<!-- sign up page -->
<script id="signUp" type="text/template">
  <style>
    .login {
      min-height: 100vh;
    }

    .bg-image {
      background-image: url("./assets/img/signup.jpg");
      background-size: cover;
      background-position: center;
    }
  </style>
  <div class="container-fluid ps-md-0">
    <div class="row g-0">
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="mb-4 display-3">Sign Up</h3>
                <p class="fs-5 mb-4">
                  Already have an account?
                  <span><a href="#/login">Login</a></span>
                </p>
                <!-- Sign Up Form -->
                <form id="signUpForm">
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="fullName"
                      placeholder="Full Name"
                    />
                    <label for="fullName">Full Name</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="userName"
                      placeholder="Username"
                    />
                    <label for="userName">Username</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="email"
                      class="form-control"
                      id="email"
                      placeholder="Email Address"
                    />
                    <label for="email">Email Address</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="text"
                      class="form-control"
                      id="address"
                      placeholder="Address"
                    />
                    <label for="address">Address</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="date"
                      class="form-control"
                      id="bDay"
                      placeholder="Birthday"
                    />
                    <label for="bDay">Birthday</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="tel"
                      class="form-control"
                      id="contact"
                      placeholder="Contact"
                    />
                    <label for="contact">Contact No.</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="password"
                      class="form-control"
                      id="password"
                      placeholder="Password"
                    />
                    <label for="password">Password</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input
                      type="password"
                      class="form-control"
                      id="confirmPassword"
                      placeholder="Confirm Password"
                    />
                    <label for="confirmPassword">Confirm Password</label>
                  </div>
                  <div class="d-grid">
                    <button class="btn btn-lg btn-primary" type="submit">
                      Sign Up
                    </button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
    </div>
  </div>
</script>
